* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.light-mode {
    background-color: #ffffff;
    color: #000;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu ul {
    display: flex;
    list-style: none;
}

nav .menu ul li {
    margin-left: 20px;
}

nav .menu ul li a {
    text-decoration: none;
    color: #000;
}

.dark-mode-toggle button {
    padding: 5px 10px;
    cursor: pointer;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000;
}

#navbar {
    display: flex;
}

@media (max-width: 768px) {
    #navbar {
        display: none;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }

    .menu ul.active {
        display: flex;
    }
}


.hero {
    text-align: center;
    padding: 100px 20px;
    background: url('sawako.jpg') no-repeat center center/cover;
    color: #fff;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20px;
}


.products {
    padding: 50px 20px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.product-card img {
    width: 200px;
    height: auto;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

.popup .close-btn {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

